<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Rune Page Entry</title>
</head>
<body>
    <h1>Add Rune Page Entry</h1>
    <form action="/addrunepage" method="post">
        <label for="champname">Champion:</label><br>
        <input type="text" id="champname" name="champname" required><br>

        <label for="slot1">Slot 1:</label><br>
        <input type="text" id="slot1" name="slot1" required><br>

        <label for="slot2">Slot 2:</label><br>
        <input type="text" id="slot2" name="slot2" required><br>

        <label for="slot3">Slot 3:</label><br>
        <input type="text" id="slot3" name="slot3" required><br>

        <label for="slot4">Slot 4:</label><br>
        <input type="text" id="slot4" name="slot4" required><br>

        <label for="slot5">Slot 5:</label><br>
        <input type="text" id="slot5" name="slot5" required><br>

        <label for="slot6">Slot 6:</label><br>
        <input type="text" id="slot1" name="slot6" required><br>

        <h3>Input 1 for a win/0 for a loss</h3>
        <label for="win_count">Win/Loss:</label><br>
        <input type="text" id="win_count" name="win_count" required><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
