<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <a href="{{ url_for('managerunepages') }}">EDIT RUNE PAGES</a>
        <a href="{{ url_for('manageskillorders') }}">EDIT SKILL ORDERS</a>
        <a href="{{ url_for('managebuild') }}">EDIT BUILDS</a>

        
        <h1 id="Page Header">Search A Champion</h1>
        <form action ="/champion" method = "post" enctype="multipart/form-data">
            <input type = "text" name ="champname">
            <input type ="submit" value = "Search">
        </form>

        <h1 id="Page Header">Recommend A Champion From Three</h1>
        <form action ="/championsuggest" method = "post" enctype="multipart/form-data">
            <input type = "text" name ="champname1">
            <input type = "text" name ="champname2">
            <input type = "text" name ="champname3">
            <input type ="submit" value = "Search">
        </form>
    </body>
</html>